* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bFont: Arial, monospace;
}

body {
  font-family: var(--bFont);
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  background-color: lightseagreen;
}

.hero-title {
  text-align: center;
  color: white;
  font-size: calc(2rem + 2vw);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.hero-img {
  max-width: calc(2rem + 2vw);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.navigation {
  grid-column: -1/1;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border: calc(10px + 1vw) lightgreen solid;
}

.Home,
.Menu,
.Contact {
  color: white;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  font-weight: bold;
  font-size: calc(1rem + 1vw);
  cursor: pointer;
}

section {
  background-color: lightseagreen;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3rem;
  text-align: center;
}

section p {
  font-size: x-large;
  padding: 1rem;
  font-style: italic;
}

section h2 {
  font-size: calc(2rem + 1vw);
  padding: 1rem;
}

section h3 {
  font-size: calc(1rem + 1vw);
  padding: 1rem;
}

.dishContainer {
  padding: 1rem;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  border-top: 3px white solid;
}

.dishContainer:last-child {
  border-bottom: 3px white solid;
}

.dishName {
  grid-column: 1/2;
  font-size: calc(1.5rem + 1vw);
  font-weight: bolder;
}

section h3 {
  font-style: italic;
  font-weight: 400;
}

.dishImg {
  grid-column: 2/3;
  grid-row: -1/1;
  border: 5px white solid;
}

.dishDescription {
  font-style: italic;
  font-family: cursive;
  font-size: calc(14px + 1vw);
}

.dishPrice {
  font-size: normal;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: calc(1rem + 1vw);
}